body {
  font-family: Arial, sans-serif;
  background-color: #f6f8fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
}

.login-container {
  width: 340px;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Ensures the content inside is centered */
}

.login-container img {
  margin-bottom: 10px;
}

.login-container h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: normal;
  color: #24292f;
}

.login-container form {
  width: 100%; /* Ensure the form takes the full width of the container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-container label {
  font-size: 0.9em;
  color: #24292f;
  margin: 5px 0;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

.login-container .forgot-link {
  align-self: flex-end;
  font-size: 0.9em;
  color: #0366d6;
  text-decoration: none;
  margin-bottom: 20px;
}

.login-container .forgot-link:hover {
  text-decoration: underline;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #2ea44f;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #218838;
}

.login-container .alternative {
  margin-top: 20px;
  font-size: 0.9em;
  color: #586069;
}

.login-container .alternative a {
  color: #0366d6;
  text-decoration: none;
}

.login-container .alternative a:hover {
  text-decoration: underline;
}
